*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode{
    background-color:#363636;
    color: white;
}

.rubrik{
    text-align: center;
    background-color: aliceblue;
    padding: 20px;  
    padding-bottom: 8px;
    max-width: 100%;
}

.profilbild{
    display: flex;
    flex-direction: column;
    justify-content: right;
    max-width: 45px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 0 auto;
}
.darkmodebutton{
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.nav-bar{
    background-color: aliceblue;
    padding: 15px;
}

.nav-links{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: gray;
    
}

a{
    color: #545454;
    text-decoration: none;
}

a:hover{
    color:black;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.Välkommen-text{
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    max-width: 600px;
    width: 100%;
}

.Om-mig-rubrik{
    text-align: center;
    margin-top: 80px;
    font-size: 25px;
}

.om-mig-text{
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;;
    max-width: 600px;
    width: 100%;
}

.intressen-lista-rubrik{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.intressen-lista{
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
}

.Vad-vi-gjort-rubrik{
    text-align: center;
    padding-top: 80px;
    margin-top: 20px;
    font-size: 18px;
    margin: 0 auto;
}

.vad-vi-gjort{
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
}

.footer{
    text-align: center;
    background-color: #f0f8ff;
    padding: 10px;
    margin-top: 50px;
    font-size: 14px;
}

footer.dark-mode{
    background-color: #1e1e1e;
}

.kontakt{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 600px){
    .nav-links{
        flex-direction: row;
        gap: 10px;
    }

    .Välkommen-text, .om-mig-text, .vad-vi-gjort{
        padding: 0 10px;
    }
}