*{
    margin: 0;
    padding: 0;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: #f4f4f4;
}

.bakgrund {
    background-color:antiquewhite;
    height: 100vh;  
}
.rubrik {
    text-align: center;
    background-color: bisque;
    padding: 20px;
}

.contact-form {
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.contact-form textarea {
    min-height: 50px;
    resize: vertical;
    overflow-y: hidden;
    resize: none;
}
.terms {
    background-color: antiquewhite;
    padding: 20px;
    height: 100vh;
    text-align: center;
}

.submit-btn {
    background-color: transparent;;
    color: rgb(0, 0, 0);
    border: 0.5px solid black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width:100px;
}